nav{
	/*background:#333;*/
}
body{
	padding-top:50px;
}
/*body pre, #page-wrapper{
	margin-top:50px;
}*/
#help-modal .modal-dialog{
	width: 80%;
}
.list{
	list-style-type:none;
	padding-left:0;
}
.list li{
	border-bottom:1px solid #CCC;
	padding:3px 0 5px;
}
.floatR{
	float:right;
}
.floatL{
	float:left;
}
.loader{
	position:fixed;
	margin:0px auto;
	display:block;
	top:49%;
	left:50%;
}

#log-container{
	overflow:auto;
	max-height:300px;
	margin-bottom:20px;
}

.section-headline{
	background:#DDD;
	padding:3px 10px;
	margin-bottom:0;
	margin-top:0;
	border-top: 1px solid #fff;
}
.table th{
	
}
.table th h3{
	margin:0 !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
	vertical-align:middle !important;
}
.table th.actions,.table td.actions{
	width:30px;
	max-width:10%;
	text-align:center;
	white-space:nowrap;
}
.section-headline i, table th i{
	float:right;
	color:#000;
	font-size:24px !important;
}
.section-headline i:hover,table th i:hover{
	color:#333;
}

table .actions a{
	margin-right:10px;
}

table.table tr td div.btn-group, ul li div.btn-group  { visibility:hidden;}
table.table tr:hover td div.btn-group, ul li:hover div.btn-group  { visibility:visible; }

pre input, pre select{
	background:#FEFEFE;
	border:none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form-group input[type=checkbox]{
	margin-right:10px !important;
}

#form-tabs{
	position:relative;
	z-index:1030;
	margin-top:-50px;
}

.make-null{
	cursor:pointer;
}
a{
	cursor:pointer;
	outline:none !important;
}
.error-message{
	color:#F00;
	margin-left: 5px;
    margin-top: 5px;
}

#form-tabs .nav-tabs a{
	color:#000;
	outline:none !important;
}

#value-list{
	margin-bottom:0 !important;
}

#charts{
	border-bottom:1px solid #CCC;
}

.ml-0{margin-left:0px}.ml-5{margin-left:5px}.ml-10{margin-left:10px}.ml-20{margin-left:20px}
.mr-0{margin-right:0px}.mr-5{margin-right:5px}.mr-10{margin-right:10px}.mr-20{margin-right:20px}.mr-30{margin-right:30px}
.mt-0{margin-top:0px}.mt-5{margin-top:5px}.mt-10{margin-top:10px}.mt-20{margin-top:20px}.mt-30{margin-top:30px}
.mb-0{margin-bottom:0px}.mb-5{margin-bottom:5px}.mb-10{margin-bottom:10px}.mb-20{margin-bottom:20px}.mb-30{margin-bottom:30px}

.pl-0{padding-left:0px}.pl-5{padding-left:5px}.pl-10{padding-left:10px}.pl-20{padding-left:20px}.pl-30{padding-left:30px}
.pr-0{padding-right:0px}.pr-5{padding-right:5px}.pr-10{padding-right:10px}.pr-20{padding-right:20px}.pr-30{padding-right:30px}
.pt-0{padding-top:0px}.pt-5{padding-top:5px}.pt-10{padding-top:10px}.pt-20{padding-top:20px}.pt-30{padding-top:30px}
.pb-0{padding-bottom:0px}.pb-5{padding-bottom:5px}.pb-10{padding-bottom:10px}.pb-20{padding-bottom:20px}.pb-30{padding-bottom:30px}